* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f6fa;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Container utama */
.container {
  width: 80%;
}

/* Judul utama */
h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700; /* Bold */
  color: #2c2c2c;
  margin-bottom: 30px;
}

/* Deskripsi */
p {
  text-align: left;
  font-size: 18px;
  font-weight: 400; /* Normal */
  color: #555;
}
